.page {
  background-color: #f2f2f2;
  min-height: 100vh;
  padding: 10px 20px 0 20px;
  font-family: 'Inter', system-ui, sans-serif;
  color: #003b6f;
  overflow-x: hidden;
}

.title {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  font-weight: 600;
  color: #003b6f;
  background-color: transparent;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  align-items: flex-start;
  margin-top: 2rem; 
}

.optionButton {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  background-color: #c5d1d9;
  color: #003b6f;
  cursor: pointer;
  outline: none;
  width: 40vw;
  height: 15vh;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.optionButton:hover {
  background-color: #018ee1;
  border: none;
  cursor: pointer;
}

.optionButton::after {
  content: "";
  position: absolute;
  border: none;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 2px;
  width: 100vw;
  background-color: #ccc; 
  z-index: 1;
  opacity: 1; 
  transition: opacity 0.3s ease, background-color 0.3s ease;
  pointer-events: none;
}

.optionButton.selected::after {
  background-color: #003b6f;
  border: none;
  opacity: 1;
}

.optionButton:not(.selected)::after {
  opacity: 0;  
  pointer-events: none;
}

.selected {
  border: none;
  background-color: #003b6f;
  color: #c5d1d9;
}

.line {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 2px;
  width: 100vw;
  background-color: #ccc;
  z-index: 1;
}

.line.lineHidden {
  width: 0;
  opacity: 0;
  background-color: transparent;
  pointer-events: none;
  transition: width 0.5s ease, opacity 0.5s ease, background-color 0.3s ease;
}

.lineSelected {
  background-color: #003b6f;
  transition: background-color 0.3s ease;
}

.backButton {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #003b6f;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.optionWrapper {
  position: relative;
}

.titleLine {
  position: absolute;
  top: 0.8em;
  left: -100vw;
  width: 100vw;
  height: 2px;
  background-color: #003b6f;
  animation: slideLine 0.6s ease-out forwards;
}

@keyframes slideLine {
  0% {
    width: 0;
    left: 0;
  }
  100% {
    width: 100vw;
    left: -100vw;
  }
}

.transitionWrapper {
  transition: transform 0.6s ease-in-out;
}

.slideLeft {
  transform: translateX(-100vw);
}
