.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: #003b6f;
  padding: 2rem;
  font-family: system-ui, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  max-width: 500px;
  line-height: 1.3;
}

.ctas {
  display: flex;
  gap: 1rem;
}

.primary {
background-color: #003b6f;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s ease;
  border: none;
  outline: none;
}

.primary:hover {
  background-color: #018ee1;
  cursor: pointer
}

.footer {
  font-size: 0.875rem;
  padding: 1rem 0;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 1s ease-out;
}